* {
  margin: 0;
  padding: 0;
  left: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between ;
  align-items: center;
  height: 75px;
}

.header img {
  display: flex;
  height: 80%;
  margin-left: 15px;
}

.header h1 {
  display: flex;
  font-size: 50px;
  color: white;
}

.trybewarts-login {
  display: flex;
  margin-right: 15px;
  align-items: center;
  gap: 10px;
}

.trybewarts-login input {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

.trybewarts-login button {
  padding: 10px 50px;
  border-radius: 5px;
  border-style: none;
  background-color: purple;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 675px;
  margin: 0;
}

main h1 {
  justify-content: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#evaluation-form section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 500px;
  gap: 5px;
}

#evaluation-form input {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border-style: groove;
}

#evaluation-form div#casa {
  display: flex;
  padding: 3px 0px;
  width: 197px;
  border-radius: 5px;
  border-style: groove;
  border: 2px solid #424242;
  align-items: center;
}

#label-house {
  margin-left: 10px;
}

#house {
  font-size: 15px;
  margin-left: 48px;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(231, 231, 231)
}

img {
  display: flex;
  justify-content: flex-end;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 70%;
}

#familia , #conteudos , #avaliacao , #agreement {
  display: flex;
}

#comentario {
  display: flex;
  flex-direction: column;
}

#comentario textarea {
  width: 10px;
}

#concorda label {
  display: flex;
}