* {
  margin: 0;
  padding: 0;
  left: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between ;
  align-items: center;
  height: 75px;
}

.header img {
  display: flex;
  height: 80%;
  margin-left: 15px;
}

.header h1 {
  display: flex;
  font-size: 50px;
  color: white;
}

.trybewarts-login {
  display: flex;
  margin-right: 15px;
  align-items: center;
  gap: 10px;
}

.trybewarts-login input {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

.trybewarts-login button {
  padding: 10px 50px;
  border-radius: 5px;
  border-style: none;
  background-color: #470047;
  color: white;
}

h1#titulo {
  display: flex;
  width: 400px;
}

main {
  display: flex;
  width: 675px;
  gap: 20px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  gap: 20px;
}

#evaluation-form section#primeiraSessao {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 500px;
  gap: 5px;
}

#evaluation-form input {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border-style: groove;
}

#evaluation-form div#casa {
  display: flex;
  padding: 3px 0px;
  width: 197px;
  border-radius: 5px;
  border-style: groove;
  border: 2px solid #424242;
  align-items: center;
}

#label-house {
  margin-left: 10px;
}

#house {
  font-size: 15px;
  margin-left: 48px;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(231, 231, 231)
}

#segundaSecao{
  display: flex;
  gap: 100px;
}

#areas {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#areas div#familia {
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  row-gap: 3px;
}


#tecnologias {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#tecnologias label {
  width: 200px;
}

#conteudos {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  row-gap: 5px;
  width: 190px;
}

#terceiraSecao {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#avaliacao-div {
  display: flex;
}

#avaliacao-div label{
  display: flex;
  width: 300px;
}

#terceiraSecao div#avaliacao {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

#terceiraSecao div#comentario {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

#terceiraSecao div#concorda {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

#label-infos {
  display: flex;
}

#agreement {
  display: flex;
  align-items: baseline;
}

#submit-btn {
  padding: 10px 50px;
  border-radius: 5px;
  border-style: none;
  background-color: #470047;
  color: #ffffff80;
}


img {
  display: flex;
  justify-content: flex-end;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 70%;
}